$color-white-1: #fff;
$color-white-2: #FDFBF5;
$color-white-3: #F2F0E9;
$color-white-4: #F3F3F3;

$color-black-1: #000;
$color-black-2: #333333;
$color-black-3: #454545;
$color-black-4: #626262;

$color-orang: #FEC463;
$color-orang-2: #d8572a;
$color-green: #89FC00;
$color-blue: #25cff0;
$color-blue-2: rgba(24, 49, 83);
$color-yellow: #ffd60a;
